@define-color bg #242a2f;
@define-color fg #ccbc9c;
@define-color gray1 #9db971;
@define-color gray2 #3d474c;
@define-color gray3 #71b3ab;
@define-color gray4 #d6b36e;
@define-color gray5 #d089ab;
@define-color fg_bright #ccbc9c;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}